/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --video-size: 34rem;
  --video-aspect-ratio: 16/9;

  --font: Helvetica;
  --font-color: #ffffff;
  --font-color-cloudy: #7d7b7b;
  --font-size-h1: 10rem;
  --font-size-h2: 4rem;
  --font-size-h3: 2.5rem;
  --font-size-h4: 1.5rem;

  --weather-icon-size: 4rem;

  --sunny-background-gradient: radial-gradient(
    circle at bottom,
    rgb(233, 227, 191) 25%,
    rgba(114, 189, 202, 1) 100%
  );
  --rain-background-gradient: radial-gradient(
    circle at top,
    #8e8e8e 0%,
    #9fccd4 100%
  );
  --cloudy-background-gradient: radial-gradient(
    circle at top,
    #ffffff 0%,
    #afc0c3 100%
  );
  --night-background-gradient: radial-gradient(
    circle at top,
    #373737 0%,
    #000000 100%
  );
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body.sunny {
  background: var(--sunny-background-gradient);
  color: var(--font-color);
}

body.rain {
  background: var(--rain-background-gradient);
  color: var(--font-color-cloudy);
}

body.cloudy {
  background: var(--cloudy-background-gradient);
  color: var(--font-color-cloudy);
}

body.night {
  background: var(--night-background-gradient);
  color: var(--font-color);
}

/* TODO: Get the width of the left-vertical, and apply it to left on body*/
/* TODO: Get the height of time, city, etc. and apply it to bottom on body */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: var(--cloudy-background-gradient);
  color: var(--font-color-cloudy);
  font-family: var(--font);
}

#player-stats {
  text-align: end;
}

#video {
  width: var(--video-size);
  aspect-ratio: var(--video-aspect-ratio);
}

#weather {
  display: flex;
}

#icon {
  width: var(--weather-icon-size);
  height: var(--weather-icon-size);
}

#city {
  font-size: var(--font-size-h2);
  font-weight: 700;
  font-family: var(--font);
  color: inherit;
  line-height: 1;

  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  width: auto;
  display: inline;

  outline: none;
  cursor: text;
}

#city:focus {
  outline: none; /* make sure no blue border shows up */
}
